@import '../../shared/styles/constants';

.inputHolder {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.inputHolder-input {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    border: none;
    border-bottom: 2px solid $primary-pink;
    background-color: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    padding: 13px 15px;
    color: #fff;
    border-radius: 3px;
    flex: 1;

    &::placeholder {
        color: #fff;
    }
}

.inputHolder-label {
    color: #fff;

    html[dir="rtl"] & {
        margin-left: 15px;
    }

    html[dir="ltr"] & {
        margin-right: 15px;
    }
}