.headerFilter {
    padding: 30px 32px;
}

.headerSubFilter {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.headerSubFilter-button + .headerSubFilter-button {
    margin-left: 10px;
}
