@import '../../shared/styles/constants';

.btn {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    min-width: 80px;

    &:hover {
        cursor: pointer;
    }

    // Colors
    &--primary {
        color: $primary-pink;
        background-color: #fff;
    }

    &--secondary {
        background-color: $primary-pink;
        color: #fff;
    }

    &--third {
        background-color: rgba(125, 125, 125, 0.5);
        color: #fff;
    }

    &--fourth {
        background-color: #fff;
        color: $primary-pink;
    }

    // Sizes
    &--small {
        padding: 4px 12px;
        font-size: 12px;
    }

    &--medium {
        padding: 8px 15px;
        font-size: 13px;
    }

    // Variants
    &--transparent {
        background: none;
    }

    & + .btn {
        margin-left: 10px;
    }
}
