@import '../../shared/styles/constants';

footer {
    width: $desktop-breakpoint;
    margin: 0 auto;
    height: 45px;
    background-color: $primary-bg;
    padding: 11px 32px;
    box-sizing: border-box;
}