// Primary colors;
$primary-text-grey: #525462;
$secondary-text-grey: #868996;
$primary-pink: #d05a6d;

// Furniture colors;
$stroke-grey: #ddd;
$primary-bg: #3c3c3c;

// View breakpoints;
$desktop-breakpoint: 1024px;