@import '../../shared/styles/constants';

.headerWrapper {
    background: url('../../images/header-bg.gif') no-repeat center top;
    background-size: cover;
}

.headerInner {
    width: 960px;
    margin: 0 auto;
}
