@import '../../shared/styles/constants';

.movieDetails {
    align-items: flex-start;
    padding: 40px 0;
    display: flex;
}

.movieDetails-image {
    width: 300px;
}

.movieDetailsDescription {
    padding: 0 0 0 70px;
}

.movieDetailsDescription-title {
    color: $primary-pink;
    margin: 15px 0;
}

.movieDetailsDescription-releaseDate,
.movieDetailsDescription-runtime {
    color: #fff;
}

.movieDetailsDescription-releaseDate {
    margin-right: 25px;
}

.movieDetailsDescription-raiting {
    border: 1px solid $stroke-grey;
    margin-left: 15px;
    vertical-align: 3px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 8px 0;
    text-align: center;
    width: 45px;
    height: 45px;
    display: inline-block;
    color: rgba(255, 255, 255, .8);
    font-weight: normal;
    font-size: 20px;
}

.movieDetailsDescription-overview {
    margin-top: 40px;
    color: #fff;
}